<div class="container">
  <div *ngIf="product$ | async as product;">
    <nav class="breadcrumb my-2">
      <a class="breadcrumb-item" [routerLink]="['/category']">Home</a>
      <a class="breadcrumb-item" [routerLink]="['/category']">PLATES</a>
      <span class="breadcrumb-item active">{{product.title}}</span>
    </nav>

    <div class="row text-center my-1">
      <div class="col-12 col-lg-10 offset-lg-1">
        <div class="row">
          <div class="col-12 col-lg-7 mb-2">
            <div class="product-cover-img" [style.background-image]="'url(' + product.image + ')'"></div>
          </div>
          <div class="col-12 col-lg-5">
            <h6 class="text-muted">{{product.brand}}</h6>
            <h1 class="my-1">{{product.title}}</h1>
            <p class="text-muted">{{product.price | sfCurrency}}</p>
            <p class="text-muted">{{product.description}}</p>
            <hr>
            <sf-quantity-picker [quantity]="quantity" (change)="onQuantityChange($event)"></sf-quantity-picker>
            <a class="btn btn-lg btn-primary ml-1" tabindex="1">ADD TO CART</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--loading-->
  <sf-spinner *ngIf="(loading$|async)"></sf-spinner>
</div>