<div class="container">
  <nav class="breadcrumb">
    <a class="breadcrumb-item" href="#">Home</a>
    <a class="breadcrumb-item" href="#">Library</a>
    <a class="breadcrumb-item" href="#">Data</a>
    <span class="breadcrumb-item active">Bootstrap</span>
  </nav>
  <div class="row text-center" *ngIf="product$ | async as product; else loadingProduct">
    <div class="col-12 col-md-7">
      <img class="img-fluid" [src]="product.image" [alt]="product.title">
    </div>
    <div class="col-12 col-md-5">
      <h6 class="text-muted">{{product.brand}}</h6>
      <h5 class="text-uppercase">{{product.title}}</h5>
      <p class="text-muted card-text">{{product.price | currency:'USD':true}}</p>
      <p>{{product.description}}</p>
      <hr>
      <a class="btn btn-primary">ADD TO CART</a>
    </div>
  </div>
  <ng-template #loadingProduct>
    Loading user information...
  </ng-template>
</div>