// overrider bootstrap breadcrumb
.breadcrumb {
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  .breadcrumb-item {
    float: none;
    color: $brand-primary;
    font-weight: bold;
    &:not(.active) {
      @include hover-focus {
        color: lighten($brand-primary, 20%) !important;
      }
    }
    &.active {
      color: $gray-light;
    }
  }
}