/* Menu */

#menu-wrap {
    @include fixed-full-size();
    z-index: $zindex-modal;
    width: 20em;
    max-width: 100vw;
    height: 100%;
    background: #373a47;
    padding: 0.75em 1.5em 0;
    font-size: 1.15em;
    @include prefix(transition, transform 0.6s $transition-timing);
    @include prefix(transform, translate3d(-20em, 0, 0));
    .menu {
        height: 100%;
        .navitem-list {
            list-style-type: none;
            padding: 0;
            .nav-item {
                @include prefix(transform, translate3d(-100%, 0, 0));
                @include prefix(transition, transform 0.8s $transition-timing);
                &:nth-child(2) {
                    @include prefix(transition-delay, 0.05s);
                }
                &:nth-child(3) {
                    @include prefix(transition-delay, 0.1s);
                }
            }
        }
    }
    /* Close Button */
    .menu-close {
        font-size: 1.5em;
        text-align: right;
    }
    .cta {
        color: $white!important;
        @include hover-focus {
            color: darken($white, 30%) !important;
        }
        &.active {
            color: darken($white, 30%) !important;
        }
    }
}


/* Shown menu */

.show-menu {
    #menu-wrap {
        @include prefix(transform, translate3d(0, 0, 0));
        @include prefix(transition, transform 0.8s $transition-timing);
        .menu {
            .navitem-list {
                .nav-item {
                    @include prefix(transform, translate3d(0, 0, 0));
                }
            }
        }
    }
    .menu-overlay {
        @include fixed-full-size();
        background-color: rgba(0, 0, 0, 0.3);
        z-index: $zindex-fixed;
    }
}

.menu-overlay {
    @include prefix(transition, background-color 0.6s $transition-timing);
}