<div class="card product-card text-center">
  <div class="product-card-cover">
    <div class="bg-img" [style.background-image]="'url(' + product.image + ')'"></div>
    <div class="overlay">
      <div class="actions">
        <a class="btn btn-block btn-lg btn-primary mb-1" tabindex="1" [routerLink]="['/product/' + product.slug]" (click)="onViewDetail()">VIEW DETAILS</a>
        <a class="btn btn-block btn-lg btn-inverse" tabindex="1" (click)="onAddToCart()">ADD TO CART</a>
      </div>
    </div>
  </div>
  <div class="card-block">
    <h6 class="text-muted">{{product.brand}}</h6>
    <h5 class="text-uppercase">{{product.title}}</h5>
    <p class="text-muted">{{product.price | sfCurrency}}</p>
  </div>
</div>