#cart-page {
  background-color: #f6f6f6;
  .cart-content {
    background-color: $body-bg;
    .table-row {
      padding: 2em 0;
      border-bottom: 1px solid $gray-lighter;
      .table-th {
        text-transform: uppercase;
        color: $gray-light;
      }
    }
  }
  .cartitem-img {
    @include aspect-ratio(16, 9);
    background-size: cover;
    background-position: center center;
  }
}