.product-card {
  border: none;
  h5 {
    font-size: 1em;
    font-weight: normal;
  }
  h6 {
    font-weight: normal;
  }
  .product-card-cover {
    @include aspect-ratio(4, 3);
    overflow: hidden;
    &:hover {
      .bg-img {
        @include prefix(transform, scale(1.1));
        opacity: 0.7;
      }
      .overlay {
        .actions .btn {
          @include prefix(transform, translate3d(0, 0, 0));
          &:first-child {
            @include prefix(transition-delay, 0.05s);
          }
          &:last-child {
            @include prefix(transition-delay, 0.1s);
          }
        }
      }
    }
    .bg-img {
      @include absolute-full-size();
      background-size: cover;
      background-position: center center;
      @include prefix(transition, all 1s $transition-timing);
    }
    .overlay {
      @include absolute-full-size();
      padding: 0 3em;
      .actions {
        @include vertical-align();
        .btn {
          @include prefix(transition, all 0.5s $transition-timing);
          @include prefix(transform, translate3d(-150%, 0, 0));
        }
      }
    }
  }
}

.product-cover-img {
  @include aspect-ratio(4, 3);
  background-size: cover;
  background-position: center center;
}