<nav class="px-1 d-flex align-items-center" id="header-navbar">
  <a class="navbar-brand" href="#"><img src="assets/images/logo.png"></a>
  <ul class="navbar-nav flex-row justify-content-center">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/cart']">Cart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">More</a>
    </li>
  </ul>

  <div class="navbar-action">
    <div class="checkout" [ngClass]="{'checkout--active': isOpen}" (click)="isOpen = !isOpen">
      <a class="checkout__button" href="#">
        My Cart
      </a>
      <div class="checkout__order">
        <div class="checkout__order-inner">
          <sf-cart-lite></sf-cart-lite>
        </div>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>